.container {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "feat feat feat feat feat feat feat feat"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
}

.header-box {
    grid-area: hd;
}

.feature-box {
    grid-area: feat;
}

.content-box {
    grid-area: main;
}

.footer-box {
    display: flex;
    grid-area: ft;
    flex-direction: row;
    justify-content: flex-start;
}

.follow-links {
    margin-left: auto;
}

.follow-img {
    min-width: 20px;
    max-width: 20px;
    height: 20px;
}
